body{
    /* background:#eee; */
    font-family: 'Cairo', sans-serif;
}
.text-capitalize{
    text-transform: capitalize;
}
h3.border{
    border-left: none !important;
    border-right: none !important;
    background:#2980b9;
    color:#fff
}
.header{
    margin-bottom: 70px;
}
.image{
    width: 130px;
    height:100px
}
.image img{
    max-width: 100%;
}

.box-content ul li p{
    margin-bottom: 5px !important;
    text-transform: capitalize;
}
.text-underline{
    text-decoration: underline;
}

.download{
    position: fixed;
    right:20px;
    bottom:20px;
}